/* src/assets/styles/CommunityPage.css */
.community-page {

  width: 100%;
  height: 100vh;
  background-color: #F5F5F5;
  display: flex;

  padding-top: 80px;
}

.community {
  
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #939DCE;

}

.community-back-button {
  color: transparent;
  cursor: pointer;
  width: 150px;
  margin-bottom: 17px;
  margin-top: 18px;
  background: transparent;
}

.community-user-button {
  width: 120px;
  cursor: pointer;
  margin-right: 50px;
}

.community-buttons {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.community-buttons button {
  padding: 1.2% 20px;
    
  background-color: transparent;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.8em;
  color: #837FD6;
  cursor: pointer;
  margin: 0 5%;
  transition: all 0.3s ease;
  position: relative;
}

.community-buttons button:hover {
  
  color: #0B0B54;
}

.community-buttons button:after {
  content: '';
  position: absolute;
  width: 0;
  left: 0;
  bottom: 0px;
  height: 4px;
  background-color: #939DCE;
  transition: all 0.3s ease;
  border-radius: 100px;
}

.community-buttons button:hover:after {
  width: 100%;
}

.sidebar {
  width: 300px;
  background-color: #f5f5f5;
  border-right: 1px solid #a19ce9;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.community-info {
  text-align: center;
}

.community-image {
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.community-name {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.minimize-button {
  width: 270px;
  height: 50px;
  border: none;
  cursor: pointer;
  background-size: contain; /* Ajusta a imagem para caber na div */
  background-repeat: no-repeat; /* Impede a repetição da imagem */
}

.minimize-button.open {
  background-image: url('../images/lista.png');
  background-color: transparent;
}

.minimize-button.closed {
  background-image: url('../images/lista-fechada.png');
  background-color: transparent;
}


.member-list {
  margin-top: 20px;
  align-items: center;
  border: 1px solid#0B0B54;
  border-radius: 4%;
}

.member {
  border-bottom: 1px solid #0B0B54;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;

}

.member:last-child {
  border-bottom: none;
}


.member-avatar {
  margin-left: 5%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.member-name {
  font-size: 1em;
  color: #333;
}
.member-program{
  margin: 10%;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  margin-right: 600px;
  /* Ajuste para evitar sobreposição com a sidebar */
}

.avisos,
.arquivos {
  padding: 20px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.aviso,
.arquivo {
  margin-bottom: 10px;
}

.aviso h3,
.arquivo a {
  font-size: 1.2em;
  color: #333;
}

.post-list {
  margin-top: 20px;
}

.post {
  background-color: #FFF;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.post-author {
  font-weight: bold;
  margin-bottom: 5px;
}

.post-content {
  margin-bottom: 5px;
}

.post-date {
  font-size: 0.8em;
  color: #999;
}

.reply-button {
  background-color: #837FD6;
  color: #FFF;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.reply-button:hover {
  background-color: #0B0B54;
}