
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
.community-page {
  background-image: url('../images/brick-wall.png');
  width: 100%;
  height: auto;
  background-color: #F5F5F5;
  display: flex;

  padding-top: 80px;
}

.community {
  
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #939DCE;
  z-index: 1;

}

.community-back-button {
  color: transparent;
  cursor: pointer;
  width: 150px;
  margin-bottom: 17px;
  margin-top: 18px;
  background: transparent;
  padding-left: 2%;
}

.community-user-button {
  width: 120px;
  cursor: pointer;
}

.community-buttons {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.community-buttons button {
  padding: 1.2% 20px;
    
  background-color: transparent;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.8em;
  color: #837FD6;
  cursor: pointer;
  margin: 0 5%;
  transition: all 0.3s ease;
  position: relative;
}

.community-buttons button:hover {
  
  color: #0B0B54;
}

.community-buttons button:after {
  content: '';
  position: absolute;
  width: 0;
  left: 0;
  bottom: 0px;
  height: 4px;
  background-color: #939DCE;
  transition: all 0.3s ease;
  border-radius: 100px;
}

.community-buttons button:hover:after {
  width: 100%;
}

.sidebar2 {
  font-family: Poppins;
  width: 17%;
  background-color: #f5f5f5;
  border-left: 1px solid #a19ce9; 
  padding-top: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  position: fixed; 
  right: 0; 
  top: 0;
  bottom: 0;
}


.sidebar {
  font-family: Poppins;
  width: 17%;
  background-color: #f5f5f5;
  border-right: 1px solid #a19ce9;
  padding-top: 20px;
  box-sizing: border-box;
  overflow-y: auto;

  
}

.community-info {
  
  font-family: Poppins;
  text-align: center;
}

.community-image {
  height: 100px;
  border-radius: 50%;
  margin-bottom: -30px;
}

.community-name {
  width: 100px; 
  margin-left: 35%;
  font-family: 'Fredoka';
  font-weight: 700;
  color: #939dce;
  font-size: 30px;
  margin-bottom: 5px; 
  background-color: #e1e1f4;
  border-radius: 10px;
  padding: 0.4%;
  
}

.community-members{
  border-top:1px solid #939dce;
  color: #333;
}

.minimize-button {
  margin-left: 5%;
  width: 270px;
  height: 50px;
  border: none;
  cursor: pointer;
  background-size: contain; 
  background-repeat: no-repeat; 
  transition: background-color 1s ease;
}

.minimize-button.open {
  background-image: url('../images/lista.png');
  background-color: transparent;
}

.minimize-button.closed {
  background-image: url('../images/lista-fechada.png');
  background-color: transparent;
}


.member-list {
  margin-left:12%;
  margin-right: 12%;
  align-items: center;
  border: 2px solid#939DCE;
  border-radius: 4%;
}

.member {
  border-bottom: 2px solid #939DCE;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;

}

.member:last-child {
  border-bottom: none;
}


.member-avatar {
  margin-left: 5%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.member-name {
  font-size: 1em;
  color: #333;
}
.member-program{
  margin: 10%;
}



/* Estilos para a estrutura geral da comunidade */
.community-content {
  font-family: Poppins;
  padding: 20px;
  align-items: center;
  width: 62%;
  margin-top: 1%;
  margin-left: 1%;
  
  
}

/* Estilos para as postagens, avisos e arquivos */
.post, .aviso, .arquivo {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: rgba(139, 177, 226, 0.178);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post h2, .aviso h2, .arquivo h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
  
}

.post p, .aviso p, .arquivo a {
  margin-bottom: 10px;
  font-size: 1em;
  color: #333;
}

/* Estilos para links de download */
.arquivo a {
  color: #007BFF;
  text-decoration: none;
}

.arquivo a:hover {
  text-decoration: underline;
}

/* Estilos para formulários de criação */
h3 {
  margin-top: 20px;
  font-size: 1.3em;
  color: #555;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

form input, form textarea, form button {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: 'Poppins';
  color: #000000;
}

/* Estilos para botões */
form button {
  background-color: #8292e2;
  color: #fff;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}
