@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

.communities {
  margin-top: 91px;
  padding-left: 19.7px;
  padding-right: 19.7px;
  margin-left: 15.97%;
  margin-right: 15.97%;
  margin-bottom: auto;
  background-image: url('../images/brick-wall.png');
  border-bottom: 1px solid #939DCE;
  flex-direction: column;
  background-color: transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
  
}

.vertical-line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px; 
  background-color: #939DCE;

}

.left-line {
  left: 16%;
}

.right-line {
  right: 16%;
}



.header {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 20px;
}

.communities ul {
  margin-top: -0px;

  list-style: none;
  padding: 0;
  width: 100%; 
  margin-bottom: -10px;
}

.communities li {
  display: flex;
  margin-left: -19px;
  width: 100.3%; 
  align-items: center;
  padding: 15px;
  padding-bottom: 20px;
  position: relative; 
}

.communities li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #939DCE;
}

.communities li:last-child::after {
  content: none; /* Remover a linha do último item */
}



.communities-iglu {
  width: 15%;
  margin-right: 20px;
  border-radius: 0%;
  object-fit: fill; 
}

.communities-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items:center;
}

.button-background {
  display: inline-block; 
  padding: 12px;
  background-image: url('../images/forma--titulo-comunidades.png');
  background-size: 100% 100%; 
  background-repeat: no-repeat;
}

.communities-text {
  margin-left: 6px;
  display: inline-block; 
  text-align: center;
  font-size: 23px;
  font-family: 'Fredoka';
  font-weight: 700;
  color: #939dce;
}



.join-communities-button {
  font-size: 57px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 16px;
  display: inline-flex;
  align-items: center;
  transition: color 0.3s ease;
}

.join-communities-button.not-joined {
  color: #939dce;
}

.join-communities-button.joined {
  color: #197ad4;
}

.members-text {
  font-size: 1em;
  margin-top: 47px;
  left: 21%;
  position: absolute;
  background-color: #e1e1f4;
  border-radius: 10px;
  padding: 0.4%;
  font-family: 'Poppins';
  font-weight: 300;
  color: #384e7a;
}

