/* src/components/RegisterPage.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

.register-page {
    display: flex;
    justify-content: center; 
    flex-direction: column; 
    font-family: 'Poppins', sans-serif;
    background-color: #F4F6F9;
    height: 100vh;
    margin: 0;
}

.register-page .form-container {
    background: #FAFAFC;
    padding: 2rem;
    border-radius: 10px;
    border: 2pt solid #E6E6E8;
    width: 651.5294px;
    height: 331.8996;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.register-page form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.register-page form img {
    width: 300.0959px;
    height: 35.2309;
}

.register-page label {
    margin-bottom: 1.9rem;
}

.register-page input {
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1.67px solid #939DCE;
    border-radius: 10px;
    margin-bottom: 1rem; 
    background-color: #F4F6F9;
    font-size: 14.99pt;
    width: 90%;
    color: #878787;
}

.register-page input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 14.99pt;
    color: #878787;
}

.register-page button {
    font-family: 'Fredoka';
    font-style: normal;
    font-weight: 600;
    margin-top: 1.9rem;
    margin-bottom: 1.9rem;;
    background-color: #2e74e5;
    color: white;
    border: none;
    padding: 0.75rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: 19pt;
    width: 94%;
}

.register-page button:hover {
    background-color: #1A5EB8;
}

.register-page .register-link-container {
    font-family: 'Poppins', sans-serif;
    margin-top: 45px;
    background: #FAFAFC;
    padding: 1rem;
    border-radius: 10px;
    border: 2pt solid #E6E6E8;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.register-page .register-link {
    font-size: 19pt;
    
    color: #0B0B54;
    text-align: center;
}

.register-page .register-link a {
    font-size: 19pt;
    font-weight: 600;
    color: #2E74E5;
    text-decoration: none;
    cursor: pointer;
}

